@model IEnumerable<Coach>
@{
    ViewData["Title"] = "Coach list";
}

<div>
    <h2 class="text-center">@ViewData["Title"]</h2>
    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Position</th>
            <th>Specialization</th>
        </tr>
        @foreach (Coach coach in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => coach.User.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => coach.User.LastName)</td>
                <td>@Html.DisplayFor(modelItem => coach.User.Gender.Title)</td>
                <td>@Html.DisplayFor(modelItem => coach.Position.Title)</td>
                <td>@Html.DisplayFor(modelItem => coach.Specialization.Title)</td>
            </tr>
        }
    </table>
</div>