@model AddClientViewModel
@{
    ViewData["Title"] = "Create client";

    var gendersSelectedListItems = new List<SelectListItem>();
    foreach (Gender gender in Model.Genders)
    {
        gendersSelectedListItems.Add(new SelectListItem { Value = gender.Id.ToString(), Text = gender.Title });
    }

    var clientStatusesSelectedListItems = new List<SelectListItem>();
    foreach (ClientStatus clientStatus in Model.ClientStatuses)
    {
        clientStatusesSelectedListItems.Add(new SelectListItem { Value = clientStatus.Id.ToString(), Text = clientStatus.Title });
    }
}

<div class="form-horizontal">
    <h2 class="text-center">@ViewData["Title"]</h2>

    @using (Html.BeginForm(
         actionName: "Create",
         controllerName: "Clients",
         method: FormMethod.Post
         ))
    {
        <p>* - Required</p>
        @Html.ValidationSummary()
        <div>
            @Html.LabelFor(model => model.FirstName)* <br />
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.LastName)* <br />
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.BirthDate) <br />
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.Email)* <br />
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.PhoneNumber) <br />
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.GenderId)* <br />
            @Html.DropDownListFor(model => model.GenderId, gendersSelectedListItems)
            @Html.ValidationMessageFor(model => model.GenderId)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.ClientStatusId)* <br />
            @Html.DropDownListFor(model => model.ClientStatusId, clientStatusesSelectedListItems)
            @Html.ValidationMessageFor(model => model.ClientStatusId)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.Password)* <br />
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <br />
        <div>
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    }
</div>