@model IEnumerable<Client>
@{
    ViewData["Title"] = "Client list";
}

<div>
    <h2 class="text-center">@ViewData["Title"]</h2>

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <p> @Html.ActionLink("Create new", "Create", "Clients", null, new { @class = "btn btn-info" }) </p>
        }
    }

    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.ApplicationUser.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.ApplicationUser.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.ApplicationUser.Gender.Title)</th>
            <th>@Html.DisplayNameFor(model => model.ClientStatus.Title)</th>

            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <th>Actions</th>
                }
            }
        </tr>
        @foreach (Client client in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => client.ApplicationUser.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => client.ApplicationUser.LastName)</td>
                <td>@Html.DisplayFor(modelItem => client.ApplicationUser.Gender.Title)</td>
                <td>@Html.DisplayFor(modelItem => client.ClientStatus.Title)</td>

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <td>
                            <form method="post">
                                @Html.ActionLink("Details", "Details", "Clients", new { id = client.Id }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Edit", "Edit", "Clients", new { id = client.Id }, new { @class = "btn btn-warning" })

                                <input type="submit" asp-action="Delete" asp-route-id="@client.Id" class="btn btn-danger" value="Delete" />
                            </form>
                        </td>
                    }
                }
            </tr>
        }
    </table>
</div>