@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="form-horizontal">
    <h2 class="text-center">@ViewData["Title"]</h2>

    @using (Html.BeginForm(
      actionName: "Login",
      controllerName: "Account",
      method: FormMethod.Post
      ))
    {
        @Html.ValidationSummary()
        <div>
            @Html.LabelFor(model => model.Email) <br />
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.Password) <br />
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.RememberMe)
            @Html.CheckBoxFor(model => model.RememberMe)
        </div>
        <br />
        <div>
            <input type="submit" value="Register" class="btn btn-success" />
        </div>
    }
</div>