@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="form-horizontal">
    <h2 class="text-center">@ViewData["Title"]</h2>

    <div>
        <b>@Html.LabelFor(model => model.FirstName)</b> <br />
        @Html.DisplayFor(model => model.FirstName)
    </div>
    <br />
    <div>
        <b>@Html.LabelFor(model => model.LastName)</b> <br />
        @Html.DisplayFor(model => model.LastName)
    </div>
    <br />
    <div>
        <b>@Html.LabelFor(model => model.BirthDate)</b> <br />
        @Model.BirthDate.ToString("yyyy-MM-dd")
    </div>
    <br />
    <div>
        <b>@Html.LabelFor(model => model.Email)</b> <br />
        @Html.DisplayFor(model => model.Email)
    </div>
    <br />
    <div>
        <b>@Html.LabelFor(model => model.PhoneNumber)</b> <br />
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
    <br />
    <div>
        <b>@Html.LabelFor(model => model.Gender)</b> <br />
        @Html.DisplayFor(model => model.Gender)
    </div>

    @if (User.IsInRole("Client"))
    {
        <br />
        <div>
            <b>@Html.LabelFor(model => model.ClientStatus)</b> <br />
            @Html.DisplayFor(model => model.ClientStatus)
        </div>
        <br />
        <div>
            <b>@Html.LabelFor(model => model.Group)</b> <br />
            @Html.DisplayFor(model => model.Group)
        </div>
    }

    @if (User.IsInRole("Coach"))
    {
        <br />
        <div>
            <b>@Html.LabelFor(model => model.Position)</b> <br />
            @Html.DisplayFor(model => model.Position)
        </div>
        <br />
        <div>
            <b>@Html.LabelFor(model => model.Specialization)</b> <br />
            @Html.DisplayFor(model => model.Specialization)
        </div>
    }

    <br />
    <div>
        <form method="post">
            @Html.ActionLink("Edit info", "Edit", "Account", null, new { @class = "btn btn-warning" })

            @if (User.IsInRole("Client") && (bool)ViewData["IsLeaveButton"])
            {
                <input type="submit" asp-action="DeleteClientFromGroup" asp-controller="Clients"
                       asp-route-id="@Model.Id" class="btn btn-danger" value="Leave group" />
            }
        </form>
    </div>
</div>
