@model EditCoachViewModel
@{
    ViewData["Title"] = "Edit coach";

    var gendersSelectedListItems = new List<SelectListItem>();
    foreach (Gender gender in Model.Genders)
    {
        gendersSelectedListItems.Add(new SelectListItem { Value = gender.Id.ToString(), Text = gender.Title });
    }

    var positionsSelectedListItems = new List<SelectListItem>();
    foreach (Position position in Model.Positions)
    {
        positionsSelectedListItems.Add(new SelectListItem { Value = position.Id.ToString(), Text = position.Title });
    }

    var specializationsSelectedListItems = new List<SelectListItem>();
    foreach (Specialization specialization in Model.Specializations)
    {
        specializationsSelectedListItems.Add(new SelectListItem { Value = specialization.Id.ToString(), Text = specialization.Title });
    }
}

<div class="form-horizontal">
    <h2 class="text-center">@ViewData["Title"]</h2>

    @using (Html.BeginForm(
      actionName: "Edit",
      controllerName: "Coaches",
      method: FormMethod.Post
      ))
    {
        @Html.ValidationSummary()
        @Html.HiddenFor(model => model.Id)
        <div>
            <b>@Html.LabelFor(model => model.FirstName)</b> <br />
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <br />
        <div>
            <b>@Html.LabelFor(model => model.LastName)</b> <br />
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <br />
        <div>
            <b>@Html.LabelFor(model => model.BirthDate)</b> <br />
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>
        <br />
        <div>
            <b>@Html.LabelFor(model => model.Email)</b> <br />
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <br />
        <div>
            <b>@Html.LabelFor(model => model.PhoneNumber)</b> <br />
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.GenderId) <br />
            @Html.DropDownListFor(model => model.GenderId, gendersSelectedListItems)
            @Html.ValidationMessageFor(model => model.GenderId)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.PositionId) <br />
            @Html.DropDownListFor(model => model.PositionId, positionsSelectedListItems)
            @Html.ValidationMessageFor(model => model.PositionId)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.SpecializationId) <br />
            @Html.DropDownListFor(model => model.SpecializationId, specializationsSelectedListItems)
            @Html.ValidationMessageFor(model => model.SpecializationId)
        </div>
        <br />
        <div>
            @Html.ActionLink("Back to list", "Index", "Coaches", null, new { @class = "btn btn-info" })

            <input type="submit" value="Edit" class="btn btn-success" />
        </div>
    }
</div>